<launch>
    <arg name="host" default="172.20.10.8"/> // put your ROVER ip here
    <arg name="port" default="3000" />
    
    <node pkg="turtlebot3_bringup" type="turtlebot3_
    <node pkg="rtk_gps_pkg" type="rtk_gps_node" name="rtk_gps_node_name">
        <param name="host" value="$(arg host)"/>
        <param name="port" value="$(arg port)"/>
    </node>
    
    <node pkg="rtk_gps_pkg" type="gps2utm_node" name="gps2utm_node_name" >
    </node>

    <node pkg="rosbag" type="record" name="rosbag_record" args="record -a">
    </node>

</launch>
